<p style="color: green"><%= notice %></p>

<%= render @submission %>

<div>
  <%= link_to "Back to submissions", submissions_path %>
  <% if @submission.user == current_user %>
    <%= link_to "Edit this submission", edit_submission_path(@submission) %> 
    <%= button_to "Destroy this submission", @submission, method: :delete %>
  <% end %>
</div>
