<!DOCTYPE html>
<html>
  <head>
    <title>HackNews</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
  </head>
  
  <body>


    <div id="main" class="container">
      <header class="navbar navbar-default" role="navigation">

        <div id="logo" class="navbar-brand"><%= link_to "HackNews", root_path %></div>
        <nav class="collapse navbar-collapse navbar-ex-1-collapse">
          <% if user_signed_in? %>
          <ul class="nav navbar-nav navbar-left">
            <li><%= link_to "submit", new_submission_path %></li>
            <li><%= link_to "account", edit_user_registration_path %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><%= button_to "logout", destroy_user_session_path, :method => :delete %></li>
          </ul>

          <% else %>
          <ul class="nav navbar-nav pull-right">
            <li><%= link_to "login", new_user_session_path %></li>
          </ul>
          <% end %>
        </nav>

      </header>

      <% flash.each do |name, msg| %>
        <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
      <% end %>

      <div id="container" class="center-block">
        <%= yield %>
      </div>
    </div>
  </body>
</html>